* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar-thumb {
    background: blue;
}

.head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background: linear-gradient(red, orange, orangered);
    color: white;
    padding: 3rem 9%;
    align-items: center;
    justify-content: space-between;
}

@keyframes flexible {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotateY(360deg);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scaleX(1);
    }
}

.head h1 {
    font-size: 2.5rem;
    animation-name: flexible;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    perspective: 10000px;
    transform-style: preserve-3d;
    animation-iteration-count: infinite;
}

.head .fa-pizza-slice {
    animation: icon 5s ease infinite;
}

@keyframes icon {
    25% {
        transform: translateY(-1.5rem);
    }

    50% {
        transform: translateY(1.5rem);
    }

}

.head .navbar a {
    color: white;
    font-size: 2.0rem;
    font-weight: 600;
    margin: 0 2rem;
}

.head .navbar a:hover {
    color: black;
    transition: .4s ease;
}

.head .side-bar i {
    padding: 1.5rem;
    font-size: 2.1rem;
    border: none;
    background: white;
    color: orangered;
}

.head .side-bar i:hover {
    background-color: black;
    color: orange;
    transition: .4s ease;
}

#bars {
    display: none;
}

.search-bar {
    height: 7rem;
    padding: 0 1rem;
    display: flex;
    position: absolute;
    top: 99%;
    left: 50%;
    right: 0;
    align-items: center;
    background: black;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 0 0);
}

.search-bar input {
    width: 100%;
    background: none;
    border: hidden;
    text-transform: none;

    font-size: 1.5rem;
    color: white;
}

.search-bar.active {
    border: hidden;
    transition: .2s ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
/* ---------------Cart section----------  */

#Cart-main{
    width: auto;
    height: auto;
    background-color: lightgray;
}

/* ---------------home section------------------ */
.home {
    height: 100vh;
    background-image:url(/images/home-bg.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    background-size: 70%;
}

.home-content {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}

.inner-container {
    max-width: 70rem;
    margin-top: 20rem;
    text-align: center;
}

.inner-container i {
    color: orangered;
}

.inner-container-img {
    margin-top: 2rem;
}

.inner-content-image img {
    width: 45rem;
    height: auto;
    animation: icon 5s ease infinite;
}

.ac {
    display: none;
}

.inner-content-para {
    font-size: 5rem;
    position: relative;
    left: 600px;
    top: -300px;
    animation: icon 5s ease infinite;
    margin-bottom: 15px;
}

.btn {
    margin-top: 2rem;

    padding: 1.3rem 4rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-weight: 500;
    color: black;
    background: whitesmoke;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 2rem 2rem black;
    transition: all .3s ease;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: rgb(82, 47, 47);
    box-shadow: 0 2rem 2rem palevioletred;
    color: aliceblue;
    transform: translateY(-1rem)
}

section {
    padding: 4rem 9%;
    margin-top: 8rem;
}

section h4 {
    margin: 0 0 1rem 25rem;
    padding: .2rem;
    width: 50%;
    font-size: 3rem;
    color: aliceblue;
    text-transform: none;
    text-align: center;
    align-items: center;
    letter-spacing: .1rem;
    background: orangered;
    clip-path: polygon(0% 15%, 38% 43%, 15% 0%, 85% 0%, 65% 43%, 100% 15%, 100% 85%, 63% 61%, 85% 100%, 15% 100%, 38% 61%, 0% 85%);
}

section h3 {
    font-size: 3rem;
    color: aliceblue;
    text-transform: none;
    text-align: center;
    letter-spacing: .2rem;
}

section p {
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 2.5rem;
    word-wrap: normal;
}

/* ----------------About section---------------------- */
.about-sec {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}

.img img {
    width: 45rem;
    height: auto;
    text-align: center;
    animation: icon 4s ease infinite;
}

.about-container h3 {
    background: url(pizzawall\ 2.png);
    background-size: cover;
    background-position: center;
    color: orangered;
}

.about .btn {
    border: .1rem solid orangered;
}

.about-container p {
    padding-bottom: 2rem;
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
}

.about-inner .fa-circle-arrow-right {
    color: orangered;
    padding: 1rem;
}

.about-inner h5 {
    padding: 1rem 0;
    font-size: 1.5rem;

    text-transform: capitalize;
    font-weight: 700;
}

.about-inner h5:hover {
    transform: translateX(2rem);
    transition: 1s ease;
}

/* -----------------service container----------------- */
.service-content {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-gap: 1rem;
}

.inner-box {
    padding: 3rem 2rem;
    text-align: center;
    border: .1rem solid orangered;
    background: white;
}

.inner-box:hover {
    background: orangered;
    transform: .5s ease all;
}

.inner-box img {
    width: 15rem;
    height: 15rem;
}

.inner-box h2 {
    padding: 2rem 0;
    font-size: 2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.inner-box p {
    font-size: 1.3rem;
    color: black;
}

.service-container {

    display: flex;
}

/* ---------------menu section------------------- */
.menu {
    background-color: whitesmoke;

}

.menu-content {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-gap: 1rem;
    flex-wrap: wrap;
    z-index: 1000;
}

.in-box {
    padding: 3rem 4rem;
    text-align: center;
    /* //border: .1rem solid orangered; */
    background: white;
    z-index: 1000;
}

.in-box img {
    width: 20rem;
    height: auto;
}

.star p{
    color: gray;
    font-size: 2rem;
}

.fa-heart {
    position: absolute;
    font-size: 2.5rem;
    margin-left: -7rem;
    color: wheat;
}

.in-box .veg-icon {
    margin-left: 22rem;
    position: absolute;
    width: 3rem;
}

.red{
    color:red;
}


/* Faq */

#faq{
    background-color: lightgrey;
}

.faq-list{
    background-color: black;
    width: 65%;
    height: 50px;
    list-style: none;
    margin-left:200px;    
    margin-bottom: 16px;
}

.orangered{
    background-color: orangered;
}
.faq-list p{
    color: white;
    margin-left: 10px;
    font-size: 2rem;
}

.faq-list:hover{
    background-color: orangered;
}

.para{
    margin-top: 30px;
}

.faq-ans{
    background-color: white;
    width: 65%;
    height: 110px;
    margin-left: 200px;
    margin-bottom: 2px;
    position: relative;
    top: -28px;
}

.faq-ans p{
    color: gray;
}

/* Social Icon */

#social{
    position: fixed;
    top: 25%;
    left: 0;
    line-height: 2;
}

#social .social-btn{
    padding: 14px 13px;
    display: block;
    color: #ffffff;
}

#social .social-img{
    width: 19px;
}

#facebook{
    background-color:black;
    transition: transform 250ms;
}

#facebook:hover{
    background-color:#2d4373;
    /* position: relative;
    left: 20px; */
    transform: translateX(10px);
}

#linkedin{
    background-color: black;
    transition: transform 250ms;
}

#linkedin:hover{
    background-color: #00121c;
    transform: translateX(10px);
}

#twitter{
    background-color: black;
    transition: transform 250ms;
}

#twitter:hover{
    background-color:#55acee;
    transform: translateX(10px);
}

#whatsapp{
    background-color: black;
    transition: transform 250ms;
}

#whatsapp:hover{
    background-color:#528124;
    transform: translateX(10px);
}

.fa-brands{
    font-size: 1.4rem;
}

/* --------------media query------------------------ */
@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    head {
        padding: 2rem;

    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}

@media(max-width:768px) {
    #bars {
        display: inline-block;
    }

    .search-bar input {
        width: 100%;
    }

    .head .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        background: black;
        font-size: 2rem;
    }

    .head .navbar a {
        margin: 2rem 2.5rem;
        display: block;
        border-right: .1rem solid orangered;
    }

    .head .navbar a:hover {
        transform: translateX(2rem);
        transition: 1s ease;
    }

    .head .navbar.active {
        right: .5rem;
        transition: .1s ease-in;
    }
<<<<<<< HEAD
}
=======
}

/* Contact */

.contact-container{
	display:flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(90deg , red 40% , orange);
	margin-top: 0px;
	/*margin-bottom: 50px;*/
}

.contact-container .section-heading{
	margin-left: 500px;
}

.contact-container .section-heading span{
	color: white;
	margin-bottom: 40px;
}

.contact-container .section-heading span i{
	color: auto;
}

.contact-form input{
	display: block;
	margin-left: 120px;
	margin-bottom:30px;
	width: 400px;
	height: 2rem;
	font-size: 1.2rem;
	color: whitesmoke;
	background-color:red;
	border-color: white;
	border-width: 0px 0px 2px 0px;
	font-family: cursive;

}

.contact-form button{
	margin-left: 250px;
	background-color: red;
	font-size: .8rem;
	margin-bottom: 90px;
	height: 40px;
	width: 130px;
	padding: 0px;
	border-color: white;
	font-family: cursive;

}

.contact-form button span{
	color: whitesmoke;
	text-transform: uppercase;
}

#contact{
	display: flex;
	flex-direction: row;
	background-image: linear-gradient(90deg , red 40% , orange);
}


.contact1{
	margin-left: 60px;
	width: 75%;
}

#contact-area{
	display: block;
	margin-left: 120px;
	margin-bottom: 30px;
	width: 400px;
	background-color:red;
	font-size: 1.2rem;
	font-family: cursive;
	border-color: white;
	border-width: 0px 0px 2px 0px;
	text-transform: none;
	font-family: cursive;
}

#form-button:hover{
	background-color: lightgrey;
	opacity: 0.7;
}

/*contact-us*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }
>>>>>>> ec407ea (updated commit)
